<footer>
  <div class="footer-info">
    <h3>Informacion</h3>
    <div class="footer-links">
      <ul>
        <li><a href="/menu">Pedi online</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/#">Politica de privacidad</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-social">
    <h3>Redes</h3>
    <div class="footer-links">
      <ul>
        <li><a href="#">Facebook <i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#">Instagram <i class="fab fa-instagram"></i></a></li>
        <li><a href="#">Twitter <i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-capital">
    <h3>Capital Sushi S.L.</h3>
    <div>
      <article>
        <p><span class="bold">Dias y Horarios: </span>Todos los dias de 12 a 16:30 y de 19:30 a 24</p>
      </article>
      <article>
        <p><span class="bold">Tel: </span> 4784-1234</p>
        <p><span>Cel: </span class="bold"> 4784-1234</p>
      </article>
      <article>
        <p><span class="bold">Estamos en: </span>Av. Siempre viva 742</p>
      </article>
      <article>
        <p><span class="bold">Email: </span>capital@sushi.com</p>
      </article>
    </div>
  </div>
</footer>
<script>
  window.addEventListener("resize", () => {
    if (window.innerWidth >= 810) {
      document.querySelector("nav").classList.remove('show');
    }
  })
</script>
<script src="/js/hamburger.js"></script>