
<header>
<img class="logo" src="/images/index.jpeg" alt="">
<div class="header-container">
  <div class="top-header">
    <div class="header-titles">
      <h1>Capital Sushi</h1>
      <h3>Sushi bar</h3>
    </div>
    <a class="header-user" href="#"> <i class="fas fa-user"></i> </a>
    <a class="header-user" href="#"> <i class="fas fa-bars"></i> </a>
  </div>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/carrito">Carrito</a></li>
      <li><a href="/mi_cuenta">Mi cuenta</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>
</div>
</header>