<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <!-- Montserrat 100, 300, 400, 500 y 700 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap"
        rel="stylesheet">
    <!-- estilos -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <!-- Iconos Fontawesome -->
    <script src="https://kit.fontawesome.com/e785f1ab1e.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <img class="logo" src="/images/index.jpeg" alt="">
        <div class="header-container">
            <div class="top-header">
                <div class="header-titles">
                    <h1>Capital Sushi</h1>
                    <h3>Sushi bar</h3>
                </div>
                <a class="header-user" href="#"> <i class="fas fa-user"></i> </a>
                <a class="header-user" href="#"> <i class="fas fa-bars"></i> </a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/carrito">Carrito</a></li>
                    <li><a href="/mi_cuenta">Mi cuenta</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <main>
        <div class="container">
            <h3>DETALLE DEL PEDIDO</h3>
            <div class="cajita blanca">
                <p>Producto</p>
                <div class="derecha"></div>
                <p>Cantidad</p>
                <p>Subtotal</p>
            </div>
            <div class="cajita negra">
                <p>sushi roll 1</p>
                <div class="derecha"></div>
                <p>- 1 +</p>
                <p>$800</p>
            </div>
            <div class="cajita negra">
                <p>sushi roll 2</p>
                <div class="derecha"></div>
                <p>- 2 +</p>
                <p>$950</p>
            </div>
            <div class="cajita blanca">
                <p>Subtotal</p>
                <div class="derecha"></div>
                <p>$1500</p>
            </div>
            <div class="cajita blanca">
                <p>Total</p>
                <div class="derecha"></div>
                <p>$1900</p>
            </div>
        </div>




    </main>
    <footer>
        <div class="footer-info">
            <h3>Informacion</h3>
            <div class="footer-links">
                <ul>
                    <li><a href="/menu">Pedi online</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                    <li><a href="/#">Politica de privacidad</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-social">
            <h3>Redes</h3>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Facebook <i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#">Instagram <i class="fab fa-instagram"></i></a></li>
                    <li><a href="#">Twitter <i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-capital">
            <h3>Capital Sushi S.L.</h3>
            <div>
                <article>
                    <p><span class="bold">Dias y Horarios: </span>Todos los dias de 12 a 16:30 y de 19:30 a 24</p>
                </article>
                <article>
                    <p><span class="bold">Tel: </span> 4784-1234</p>
                    <p><span>Cel: </span class="bold"> 4784-1234</p>
                </article>
                <article>
                    <p><span class="bold">Estamos en: </span>Av. Siempre viva 742</p>
                </article>
                <article>
                    <p><span class="bold">Email: </span>capital@sushi.com</p>
                </article>
            </div>
        </div>
    </footer>
</body>

</html>