<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {stylesheet: 'cartilla.css' , title: 'Cartilla' }) %>

    <body>
        <%- include('./partials/header', {view: 'cartilla' }) %>
            <main>
                <div class="div-main">

                    <div class="container">
                        <h2>ENTRADAS</h2>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/entrada-1.jpg" alt="entradas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$1250</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/entrada-2.jpg" alt="entradas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$2250</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/entrada-3.jpg" alt="entradas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/entrada-4.jpg" alt="entradas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/entrada-5.jpg" alt="entradas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/entrada-6.jpg" alt="entradas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>
                    </div>


                    <div class="container">
                        <h2>TABLAS</h2>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/tabla-1.jpg" alt="tablas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$1250</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/tabla-2.png" alt="tablas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$2250</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/tabla-3.png" alt="tablas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/tabla-4.jpg" alt="tablas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$1250</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/tabla-5.jpg" alt="tablas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$2250</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/tabla-6.jpg" alt="tablas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>
                    </div>


                    <div class="container">
                        <h2>ROLLS</h2>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/roll-1.png" alt="rolls">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$1250</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img " src="/images/roll-2.jpg" alt="rolls">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$2250</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/roll-3.png" alt="rolls">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/roll-4.png" alt="rolls">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/roll-5.png" alt="rolls">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/roll-6.jpg" alt="rolls">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>
                    </div>


                    <div class="container">
                        <h2>WOKS</h2>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/wok-1.jpg" alt="woks">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$1250</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/wok-2.jpg" alt="woks">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$2250</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/wok-3.jpg" alt="woks">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/wok-4.jpg" alt="woks">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/wok-5.jpg" alt="woks">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/wok-6.png" alt="woks">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>
                    </div>


                    <div class="container">
                        <h2>ENSALADAS</h2>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/ensalada-1.jpg" alt="ensaladas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$1250</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/ensalada-2.jpg" alt="ensaladas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$2250</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/ensalada-3.jpg" alt="ensaladas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/ensalada-4.jpg" alt="ensaladas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/ensalada-5.jpg" alt="ensaladas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/ensalada-6.jpg" alt="ensaladas">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>
                    </div>


                    <div class="container">
                        <h2>POSTRES</h2>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/postre-1.png" alt="postres">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$1250</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/postre-2.jpg" alt="postres">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$2250</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/postre-3.jpg" alt="postres">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/postre-4.jpg" alt="postres">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/postre-5.jpg" alt="postres">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>

                        <article>
                            <div class="image-container">
                                <img class="pr-img" src="/images/postre-6.jpg" alt="postres">
                            </div>
                            <div class="description">
                                <h3>Nombre Plato</h3>
                                <p>Descripción del contenido de la tabla</p>
                                <p class="price">$3000</p>
                            </div>
                        </article>
                    </div>

                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>