<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {stylesheet: 'formulario_producto.css' , title: 'Crear producto' }) %>

    <body>
        <!-- Header-->
        <%- include('./partials/header', {view: 'formulario_producto' }) %>
            <main>

                <div class="form-container">
                    <h2 class="form-title">Cargar producto</h2>
                    <form class="product-form" action="/" method="POST" class='validated-form' novalidate
                        enctype="multipart/form-data">
                        <div class="input-group">
                            <label class="form-label" for="title">Título del plato</label>
                            <input class="form-control" type=" text" id="title" name="title" required>
                        </div>
                        <div>
                            <div class="input-group">
                                <label class="form-label" for="price">Precio</label>
                                <span class="input-group-text" id="price-label">$</span>
                                <input type="number" class="form-control" placeholder="0.00" id="price"
                                    aria-label="price" name="price" aria-describedby="place-label" required>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-label" for="description">Descripción</label>
                            <textarea cols="1000" class="form-control" id="description" name="description"
                                required></textarea>
                        </div>
                        <div class="input-group">
                            <input type="file" class="form-control form-image" id="image" name="image" multiple>
                            <label class="input-group-text" for="image">Cargar Imagen</label>
                        </div>
                        <div class="btn-container">
                            <button class="form-button">Agregar plato</button>
                        </div>
                    </form>
                </div>
            </main>

            <!-- Footer-->
            <%- include('./partials/footer') %>
    </body>

</html>