<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {stylesheet: 'home.css' , title: 'Inicio' }) %>

  <body>
    <%- include('./partials/header', {view: 'home' }) %>
      <main>
        <img src="/images/sushiNigris.jpg" alt="">
        <div class="info-container">
          <article class="delivery">
            <div class="icon">
              <i class="fas fa-truck"></i>
            </div>
            <div class="text">
              <h3>Entrega gratis</h3>
              <p>A todos los pedidos en el area local</p>
            </div>
          </article>
          <article class="opening-times">
            <div class="icon">
              <i class="fas fa-calendar-day"></i>
            </div>
            <div class="text">
              <h3>Abrimos todos los dias</h3>
              <p>Lunes a domingo de 12 - 16:30 19:30 - 24</p>
            </div>
          </article>
          <article class="pay-methods">
            <div class="icon">
              <i class="fas fa-credit-card"></i>
            </div>
            <div class="text">
              <h3>Medios de pago</h3>
              <p>Paga en efectivo, con tarjetas o mercadopago</p>
            </div>
          </article>
        </div>
      </main>
      <%- include('./partials/footer') %>
  </body>

</html>