<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {stylesheet: 'home.css' , title: 'Inicio' }) %>

  <body>
    <%- include('./partials/header', {view: 'home' }) %>
      <main>

        <div id="conteItemsCarrusel">
          <div class="itemCarrusel" id="itemCarrusel-1">
            <div class="tarjetaCarrusel" id="tarjetaCarrusel-1">
              <img src="/images/sushiNigris.jpg" alt="item-1-Carrusel">
            </div>
            <!-- <div class="flechasCarrusel">
              <a href="#itemCarrusel-3">
                <i class="fa-solid fa-angle-left"></i>
              </a>
              <a href="#itemCarrusel-2">
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </div> -->
          </div>
          <div class="itemCarrusel" id="itemCarrusel-2">
            <div class="tarjetaCarrusel" id="tarjetaCarrusel-2">
              <img src="/images/dos.jpg" alt="item-2-Carrusel">
            </div>
            <div class="flechasCarrusel">
              <a href="#itemCarrusel-1">
                <i class="fa-solid fa-angle-left"></i>
              </a>
              <a href="#itemCarrusel-3">
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrusel" id="itemCarrusel-3">
            <div class="tarjetaCarrusel" id="tarjetaCarrusel-3">
              <img src="/images/tres.webp" alt="item-3-Carrusel">
            </div>
            <div class="flechasCarrusel">
              <a href="#itemCarrusel-2">
                <i class="fa-solid fa-angle-left"></i>
              </a>
              <a href="#itemCarrusel-1">
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div id="contePuntos">
          <a href="#itemCarrusel-1">*</a>
          <a href="#itemCarrusel-2">*</a>
          <a href="#itemCarrusel-3">*</a>
        </div>
        
        <div class="info-container">
          <article class="delivery">
            <div class="icon">
              <i class="fas fa-truck"></i>
            </div>
            <div class="text">
              <h3>Entrega gratis</h3>
              <p>A todos los pedidos en el area local</p>
            </div>
          </article>
          <article class="opening-times">
            <div class="icon">
              <i class="fas fa-calendar-day"></i>
            </div>
            <div class="text">
              <h3>Abrimos todos los dias</h3>
              <p>Lunes a domingo de 12 - 16:30 19:30 - 24</p>
            </div>
          </article>
          <article class="pay-methods">
            <div class="icon">
              <i class="fas fa-credit-card"></i>
            </div>
            <div class="text">
              <h3>Medios de pago</h3>
              <p>Paga en efectivo, con tarjetas o mercadopago</p>
            </div>
          </article>
        </div>
      </main>
      <%- include('./partials/footer') %>
  </body>

</html>