<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head', {stylesheet: 'menu.css', title: 'Menu'}) %> 

<body>
  <%- include('./partials/header', {view: 'menu'}) %> 

  <main>
      <div class="top-main">
        <div class="banner">
          <img src="/images/banner-sushi.jpg" alt="banner-de-sushi">
        </div>
        <div class="menus">

          <a href="/cartilla">
            <article class="tabla">
              <img class="product-img" src="/images/tablas-sushi.jpg" alt="tablas">
            </article>
          </a>

          <a href="/cartilla">
            <article class="principales">
              <img class="product-img" src="/images/principales-sushi.jpg" alt="principales" >
            </article>
          </a>

          <a href="/cartilla">
            <article class="woks">
              <img class="product-img" src="/images/wok-de-sushi.jpg" alt="woks">
            </article>
          </a>
          
          <a href="/cartilla">
            <article class="ensalada">
              <img class="product-img" src="/images/ensalada-sushi.jpeg" alt="ensalada">
            </article>
          </a>

          <a href="/cartilla">
            <article class="postre">
              <img class="product-img" src="/images/postre-sushi.jpg" alt="postre">
            </article>
          </a>
          
          <a href="/cartilla">
            <article class="entradas">
              <img class="product-img" src="/images/entrada-sushi.jpg" alt="" >
            </article>
          </a>
          
        </div>
      </div>
  </main>

  <%- include('./partials/footer') %> 
</body>

</html>