<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head', {stylesheet: 'menu.css', title: 'Menu'}) %> 

<body>
  <%- include('./partials/header', {view: 'menu'}) %> 

  <main>
      <div class="top-main">
        <div id="conteItemsCarrusel">
          <div class="itemCarrusel" id="itemCarrusel-1">
            <div class="tarjetaCarrusel" id="tarjetaCarrusel-1">
              <img src="/images/banner-sushi.jpg" alt="item-1-Carrusel">
            </div>
            <div class="flechasCarrusel">
              <a href="#itemCarrusel-3">
                <i class="fa-solid fa-angle-left"></i>
              </a>
              <a href="#itemCarrusel-2">
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrusel" id="itemCarrusel-2">
            <div class="tarjetaCarrusel" id="tarjetaCarrusel-2">
              <img src="/images/dos.jpg" alt="item-2-Carrusel">
            </div>
            <div class="flechasCarrusel">
              <a href="#itemCarrusel-1">
                <i class="fa-solid fa-angle-left"></i>
              </a>
              <a href="#itemCarrusel-3">
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrusel" id="itemCarrusel-3">
            <div class="tarjetaCarrusel" id="tarjetaCarrusel-3">
              <img src="/images/tres.webp" alt="item-3-Carrusel">
            </div>
            <div class="flechasCarrusel">
              <a href="#itemCarrusel-2">
                <i class="fa-solid fa-angle-left"></i>
              </a>
              <a href="#itemCarrusel-1">
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div id="contePuntos">
          <a href="#itemCarrusel-1">*</a>
          <a href="#itemCarrusel-2">*</a>
          <a href="#itemCarrusel-3">*</a>
        </div>
        <div class="menus">

          <a href="/chart#tablas">
            <article class="tabla">
              <img class="product-img" src="/images/tablas-sushi.jpg" alt="tablas">
            </article>
          </a>

          <a href="/chart#principales">
            <article class="principales">
              <img class="product-img" src="/images/principales-sushi.jpg" alt="principales" >
            </article>
          </a>

          <a href="/chart#woks">
            <article class="woks">
              <img class="product-img" src="/images/wok-de-sushi.jpg" alt="woks">
            </article>
          </a>
          
          <a href="/chart#ensaladas">
            <article class="ensalada">
              <img class="product-img" src="/images/ensalada-sushi.jpeg" alt="ensalada">
            </article>
          </a>

          <a href="/chart#postres">
            <article class="postre">
              <img class="product-img" src="/images/postre-sushi.jpg" alt="postre">
            </article>
          </a>
          
          <a href="/chart#entradas">
            <article class="entradas">
              <img class="product-img" src="/images/entrada-sushi.jpg" alt="" >
            </article>
          </a>
          
        </div>
      </div>
  </main>

  <%- include('./partials/footer') %> 
</body>

</html>