<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {stylesheet: 'productForm.css' , title: 'Crear producto' }) %>

    <body>
        <!-- Header-->
        <%- include('./partials/header', {view: 'productForm' }) %>
            <main>
                <div class="form-container">
                    <h2 class="form-title">Cargar producto</h2>
                    <form class="product-form" action="/product/" method="post" enctype="multipart/form-data">
                        <%- include('./partials/productFormContent') %> 
                    </form>
                </div>
            </main>

            <!-- Footer-->
            <%- include('./partials/footer') %>
    </body>

</html>