<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi cuenta</title>
  <!-- Montserrat 100, 300, 400, 500 y 700 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap"
    rel="stylesheet">
  <!-- estilos -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/mi_cuenta.css">
  <!-- Iconos Fontawesome -->
  <script src="https://kit.fontawesome.com/e785f1ab1e.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('./partials/header') %> 
  <main>
    <div class="img-container">
      <img class="main-img" src="/images/main-header.jpg" alt="">
    </div>
    <div class="forms-container">
      <div class="forms-carousel">
        <form class="sign-up-form" action="">
          <h3>Registrarse</h3>
          <div class="input-container">
            <i class="fas fa-user"></i>
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="Nombre" required>
          </div>
          <div class="input-container">
            <i class="fas fa-user"></i>
            <label for="last-name"></label>
            <input type="text" name="last-name" id="last-name" placeholder="Apellido" required>
          </div>
          <div class="input-container">
            <i class="fas fa-envelope"></i>
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="Correo electrónico" required>
          </div>
          <div class="input-container">
            <i class="fas fa-map-marked-alt"></i>
            <label for="address"></label>
            <input type="text" name="address" id="address" placeholder="Direccion" required>
          </div>
          <div class="input-container">
            <i class="fas fa-mobile"></i>
            <label for="phone"></label>
            <input type="text" name="phone" id="phone" placeholder="Telefono" required>
          </div>
          <div class="input-container">
            <i class="fas fa-lock"></i>
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="contraseña" required>
          </div>
          <div class="input-container">
            <i class="fas fa-lock"></i>
            <label for="password-verify"></label>
            <input type="password" name="password-verify" id="password-verify" placeholder="repetir contraseña" required>
          </div>
          <div class="btns">
            <a class="sign-up-btn" href="/mi_cuenta">Tengo cuenta</a>
            <input class="submit-btn" type="submit" value="Registrarse">
          </div>
        </form>
      </div>
    </div>
  </main>
  <%- include('./partials/footer') %> 
</body>

</html>