<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head', {stylesheet: 'mi_cuenta.css', title: 'Registrarse'}) %> 

<body>
  <%- include('./partials/header', {view: 'registrarse'}) %> 
  <main>
    <div class="img-container">
      <img class="main-img" src="/images/main-header.jpg" alt="">
    </div>
    <div class="forms-container">
      <div class="forms-carousel">
        <form class="sign-up-form" action="/user/register" method='post'>
          <h3>Registrarse</h3>
          <div class="input-container">
            <i class="fas fa-user"></i>
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="Nombre" required>
          </div>
          <div class="input-container">
            <i class="fas fa-user"></i>
            <label for="last-name"></label>
            <input type="text" name="last-name" id="last-name" placeholder="Apellido" required>
          </div>
          <div class="input-container">
            <i class="fas fa-envelope"></i>
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="Correo electrónico" required>
          </div>
          <div class="input-container">
            <i class="fas fa-map-marked-alt"></i>
            <label for="address"></label>
            <input type="text" name="address" id="address" placeholder="Direccion" required>
          </div>
          <div class="input-container">
            <i class="fas fa-mobile"></i>
            <label for="phone"></label>
            <input type="text" name="phone" id="phone" placeholder="Telefono" required>
          </div>
          <div class="input-container">
            <i class="fas fa-lock"></i>
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="contraseña" required>
          </div>
          <div class="input-container">
            <i class="fas fa-lock"></i>
            <label for="passwordConfirmation"></label>
            <input type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="repetir contraseña" required>
          </div>
          <div class="btns">
            <a class="sign-up-btn" href="/mi_cuenta">Tengo cuenta</a>
            <input class="submit-btn" type="submit" value="Registrarse">
          </div>
        </form>
      </div>
    </div>
  </main>
  <%- include('./partials/footer') %> 
</body>

</html>