main {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
}

main h2 {
    text-align: left;
    font-size: 27px;
    font-weight: 600;
    background-color: white;
    margin: 20px 20px;
}

main h3 {
    text-align: center;
    font-size: 15px;
    background-color: white;
}

main p {
    color: grey;
    text-align: center;
    font-size: 12px;
    background-color: white;
}

.price {
    text-align: right;
    margin-top: 25%;
}

.pr-img{
    width: 120px;
    object-fit: cover;
    height: 100px;
    margin-bottom: 0px;
}

.div-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border: solid 4px black;
}

main article {
    width: 95%;
    display: flex;
    background-color: white;
}

article {
    width: 100%;
    margin: 30px 10px;
}

.name-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.description {
    display: block;
}

/* TABLET */

@media (min-width: 768px) {
    main h2 {
        font-size: 30px;
        margin: 20px;
    }
    .pr-img {
        width: 200px;
        object-fit: cover;
        height: 145px;
        margin-bottom: 0px;
    }
    main p {
        font-size: 20px;
    }
    main h3 {
        font-size: 25px;
    }
    main {
        padding: 20px;
    }
    .price {
        position: relative;
        width: 100%;
        right: 0px;
        left: 130px;
        bottom: 0px;
        font-size: 20px;
        margin-top: 18%;
    }
}
/* DESKTOP */

@media (min-width: 1024px) {
    main h2 {
        font-size: 40px;
        margin: 30px;
    }
    main p {
        font-size: 30px;
    }
    main h3 {
        font-size: 35px;
    }
    main {
        padding: 40px 40px;
    }
    .pr-img{
        width: 200px;
        object-fit: cover;
        height: 200px;
        margin-bottom: 0px;
    }
    .price {
        position: relative;
        width: 100%;
        right: 0px;
        left: 150px;
        bottom: 0px;
        font-size: 30px;
        margin-top: 15%;
    }
}
