/* 
 _   _   ___  _   _______  ___  ______ 
| \ | | / _ \| | | | ___ \/ _ \ | ___ \
|  \| |/ /_\ \ | | | |_/ / /_\ \| |_/ /
| . ` ||  _  | | | | ___ \  _  ||    / 
| |\  || | | \ \_/ / |_/ / | | || |\ \ 
\_| \_/\_| |_/\___/\____/\_| |_/\_| \_|

*/

header {
  height: 140px;
  background-color: var(--main-black);
  display: flex;
}

header .logo {
  height: 100%;
}

header .header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

header .top-header {
  display: flex;
  width: 100%;
}

header .header-titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 95px;
  width: 92%;
}

header .header-container h1, header .header-container h3 {
  font-weight: 500;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
}

header .header-container h1 {
  font-size: 32px;
}

header .header-container h3 {
  font-size: 18px;
}

header nav {
  width: 80%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
}

header nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
}

header .fa-user {
  color: #FFF;
  font-size: 35px;
  padding: 30px;
}

@media (min-width: 361px) {
  
}

@media (min-width: 769px) {}