body {
  background-color: var(--main-black);
}

main {
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

main img {
  width: 100%;
  object-fit: cover;
  height: 190px;
}

main .info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main article {
  display: flex;
  padding-top: 70px;
  width: 90%;
}

main .text {
  width: 75%;
}

main .icon {
  width: 24%;
}

main .text h3 {
  font-size: 20px;
  text-transform: uppercase;
}

main .text p {
  font-size: 16px;
}

main .icon i {
  font-size: 38px;
  margin: 0.5rem;
  flex-grow: 1;
}

footer{
  background-color: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  justify-content: space-around;
}

footer div{
  margin-top: 20px;
}

footer h3{
  color: var(--orange);
  font-size: 20px;
  text-transform: uppercase;
}

footer ul{
  list-style:none;
}

footer .footer-links a{
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
}

footer .footer-links a:hover{
  color: var(--orange);
}

footer p{
  color: #FFF;
  font-size: 16px;
  margin-bottom: 6px;
}


@media (min-width: 481px) {
  main img{
    height: 250px;
  }
  main article {
    width: 80%;
    max-width: 485px;
  }
  main .text h3 {
    font-size: 24px;
  }
  main .text p {
    font-size: 19px;
  }
  main .icon i {
    font-size: 50px;
  }
}

@media (min-width: 810px) {
  main img{
    height: 370px;
  }

  main .info-container{
    flex-direction: row;
    align-items: flex-start;
    max-width: 906px;
  }

  main .text h3{
    font-size: 20px;
  }

  main .text p{
    font-size: 16px;
  }

  main .icon i{
    font-size: 38px;
  }
  footer{
    flex-direction: row;
  }
  footer div{
    width: 30%;
  }
  footer div div{
    width: 100%;
  }
}

@media (min-width:1294px) {

  main .info-container{
    max-width: 1200px;
    justify-content: space-between;
  }

  main img{
    height: 500px;
  }

  main article{
    width: 28%;
  }

  main .text h3 {
    font-size: 24px;
  }
  main .text p {
    font-size: 19px;
  }
  main .icon i {
    font-size: 50px;
  }
}