body {
  background-color: var(--main-black);
}

main {
  position: relative;
}

main .main-img {
  width: 100%;
  object-fit: cover;
}

main .img-container {
  position: relative;
  z-index: 10;
}

main .forms-container {
  margin-top: 20px;
  width: 96%;
  margin: 0 auto;
}

main .sign-up-btn {
  border: none;
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #FFF;
  color: var(--main-black);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
  width: 45%;
  text-align: center;
}

main .forms-carousel {
  align-self: center;
  display: flex;
  align-items: center;
  padding-bottom: 4rem;
  width: 100%;
}

main form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
  min-width: 100%;
  border-radius: 1rem;
}

main form h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;
  color: var(--orange);
}

main form .input-container {
  background-color: #FFF;
  color: var(--main-black);
  padding: 4px;
  border-radius: 4px;
  margin: 6px 0;
  display: flex;
  width: 95%;
}

main form .input-container i {
  color: var(--main-black);
  padding: 3px 5px 3px 3px;
}

main form .input-container input, main form .input-container textarea {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
}

main form .submit-btn {
  border: none;
  margin-top: 10px;
  padding: 8px 20px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  background-color: var(--orange);
  font-size: 12px;
}

main form .submit-btn:hover {
  cursor: pointer;
}

main form .btns {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

main form .btns>* {
  display: inline-block;
  width: 48%;
}

main form .remember-check {
  color: #FFF;
  padding: 10px;
}

main form label {
  cursor: pointer;
}

main form .password-recover {
  text-decoration: none;
  color: #FFF;
}

main form .error {
  background-color: #F99;
  color: #FFF;
  top: 25%;
  z-index: 30;
  padding: 2rem;
  border-radius: 6px;
  position: fixed;
  transition: all .6s ease;
}

main form .close-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
}

main form .input-group {
  background-color: #FFF;
  padding: 2px;
  border-radius: 4px;
  margin-top: 6px;
}

.errors {
  color: var(--orange);
}

@media (min-width: 481px) {
  main .main-img {
    height: 200px;
  }

  main .forms-container {
    width: 80%;
    margin: 20px auto;
    max-width: 410px;
  }
}

@media (min-width: 810px) {
  main .main-img {
    height: 70vh;
  }

  main .img-container::before {
    font-size: 3.5rem;
  }

  main .forms-nav {
    display: none;
  }

  main .forms-container {
    max-width: none;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #141313BA;
    transform: translate(-50%, -50%);
    z-index: 10;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 585px;
  }

  main .forms-carousel {
    display: flex;
    align-items: center;
    overflow-x: unset;
    overscroll-behavior-x: unset;
    scroll-snap-type: unset;
    width: 100%;
    justify-content: space-around;
    padding: 0;
  }

  main form {
    min-width: unset;
    scroll-snap-align: unset;
    width: 80%;
    max-width: 381px;
    padding-bottom: 0;
    margin: 30px;
  }

  main form .btns {
    width: 95%;
  }
}