body {
  background-color: var(--main-black);
}

main .main-img {
  width: 100%;
}

main .img-container {
  position: relative;
  z-index: 10;
}

main .img-container::before {
  content: "MI CUENTA";
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  top: 50%;
  font-size: 3rem;
  color: var(--main-black);
  background-color: rgba(220, 220, 220, 200);
  opacity: 80%;
  font-weight: 400;
}

main .forms-nav {
  display: flex;
  justify-content: space-around;
}

main .forms-nav a {
  border: none;
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #FFF;
  color: var(--main-black);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  width: 45%;
  text-align: center;
}

main .forms-nav a.active-btn {
  background-color: var(--orange);
}

main .forms-carousel {
  align-self: center;
  display: flex;
  align-items: center;
  padding-bottom: 4rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  width: 100%;
}

main form {
  display: flex;
  margin: 40px 10px 10px 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
  min-width: 100%;
  border-radius: 1rem;
  scroll-snap-align: center;
}

main form h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;
  color: var(--orange);
}

main form .input-container {
  background-color: #FFF;
  color: var(--main-black);
  padding: 4px;
  border-radius: 4px;
  margin: 6px 0;
  display: flex;
  width: 90%;
}

main form .input-container i {
  color: var(--main-black);
  padding: 3px 5px 3px 3px;
}

main form .input-container input, main form .input-container textarea {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
}

main form .submit-btn {
  border: none;
  margin-top: 10px;
  padding: 8px 20px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  background-color: var(--orange);
}

main form .remember-check {
  color: #FFF;
  padding: 10px;
}

main form label {
  cursor: pointer;
}

main form .password-recover {
  text-decoration: none;
  color: #FFF;
}