main .main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

main .user-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 4px solid black;
}

main .user-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: calc(45vw - 100px);
  margin-bottom: 4rem;
  width: 100%;
}

main .user-profile::before {
  content: "";
  width: 110vw;
  height: 30vw;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  background-color: var(--orange);
  position: absolute;
  top: 0;
  z-index: -10;
}

main .user-profile .user-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .user-profile h2 {
  margin: 2rem auto 1rem auto;
}

main .user-profile .user-info {
  border-bottom: 1px solid #CCCC;
  width: 95%;
  padding: .8rem;
  display: flex;
  align-items: baseline;
}

main .user-profile i {
  color: #666;
  width: 20%;
  text-align: center;
}

main .user-profile p {
  margin-top: .6rem;
}

main .user-profile .edit-btn {
  background-color: var(--orange);
  padding: 1rem;
  text-decoration: none;
  color: #FFF;
  margin-top: 2rem;
  width: 60%;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.1rem;
  border-radius: 2rem;
}

main .password-change {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-black);
  border-radius: 10px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 40px;
  color: #FFF;
  display: none;
}

main .password-change form {
  width: 200px;
  display: flex;
  flex-direction: column;
}

main .password-change form label {
  margin-top: 8px;
}

main .password-change .buttons {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
} 

main .password-change .buttons button{
  width: 48%;
  background-color: var(--orange);
  border: none;
  padding: 6px;
  border-radius: 6px;
  color: #FFF;
}

main .password-change .buttons button:hover{
  cursor: pointer;
}

@media (min-width: 372px) {
  main .user-img {
    width: 130px;
    height: 130px;
  }

  main .user-profile {
    margin-top: calc(40vw - 90px);
  }

  main .user-profile i {
    margin-right: 1rem;
    margin-left: 2rem;
  }
}

@media (min-width: 482px) {

  main .user-img {
    width: 150px;
    height: 150px;
  }

  main .user-profile {
    margin-top: calc(30vw - 90px);
    max-width: 500px;
  }

  main .user-profile h2 {
    font-size: 2rem;
  }
}

@media (min-width: 654px) {
  main .user-profile::before {
    display: none;
  }

  main .user-profile {
    border-radius: 16px;
    padding-bottom: 2rem;
    box-shadow: -2px 5px 16px 4px rgba(0, 0, 0, 0.36);
    margin-top: 2rem;
  }

  main .user-profile .user-header {
    width: 100%;
    background-color: var(--orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 2rem;
  }

  main .user-profile .user-img {
    border: none;
    width: 110px;
    height: 110px;
  }

  main .user-profile h2 {
    color: #FFF;
  }

}